*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;

}
header h4{
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
    
}
.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}
.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffffff;
    
}
.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}
.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
.slider {
    position: relative;
    width: 50%;
    overflow: hidden;
    margin: auto;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #000 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: #824848;}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}
.form1{
    margin-top:2%;

    
    border:1px solid grey;

    border-radius: 50px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.5);
    width:55%;
    padding:0.5% 0.5% 0.5% 0.5%;
}
input[type="text"]{
    width:86%;
    border:none;   
}
input:focus {
    outline: none;
  }
  
input[type="submit"]{
      background:none;
      border:none;
      border-left:1px solid grey;
      padding:0.8% 1.5% 0.8% 1.5%;
}
img{
    margin:2% 2% 2% 2%;
}
  
  
