<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='style1.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoodSurvey</title>
</head>
<body>
    <header>
        <h4>Book Brew.</h4>
       
    </header>
    <div class="imgs">
      <center> 
        <img src="{{ url_for('static',filename='a.png') }}" alt="a" width="100%" height="400"></center> 
    </div>
    {% with suggest=[] %} 
    {% endwith %}
<div class="card">
    </br>
    <p><h3>1.) How is your Mood Today?</h3></p>
    <a href="{{ 'i2' }}"><center><button type="submit" class="btn1">Light hearted
    </button></center>
    <center><button type="submit" class="btn2">Gloomy
    </button></center> 
    <center><button type="submit" class="btn3">Fascinated
    </button></center>
    <center><button type="submit" class="btn4">Humourous
    </button></center></a>
</div>
</body>
</html>